<course-header [sideNavDrawer]="drawer" [titleText]="title"></course-header>
<course-sidenav (setDrawer)="setSideNav($event)">
  <ng-template #contentTemplate>
    <mat-form-field appearance="legacy">
      <mat-label>Search products</mat-label>
      <input matInput placeholder="search text" (input)="search($event)">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <mat-checkbox (change)="searchByFavorites($event)">Only favorites!</mat-checkbox>

    <mat-grid-list cols="4" rowHeight="500" *ngIf="products$ | async as products; else loader">
      <mat-grid-tile *ngFor="let p of products | productsFilter: searchTerm: onlyFavorites; let isOdd =odd">
        <course-product-card [product]="p" [isOdd]="isOdd"></course-product-card>
      </mat-grid-tile>
    </mat-grid-list>
    <ng-template #loader>
      <div class="loader-container">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </ng-template>
</course-sidenav>

